<?xml version="1.0" encoding="UTF-8"?>
<app-config>
    <serverPort>7000</serverPort>
    <classPath path="/"/>
    <surflets>
        <surflet id="indexJSP" class="de.hsw.examples.surflets.IndexSurflet"/>
    </surflets>
    <mappings>
        <mapping methods="ALL" path="/" surfletId="$file"/>
        <mapping methods="ALL" path="/index.html" surfletId="$file"/>
        <mapping methods="ALL" path="/style.css" surfletId="$file"/>

    </mappings>
</app-config>