<?xml version="1.0" encoding="UTF-8"?>
<app-config>
    <servlets>
        <surflet id="indexJSP" classPath="./" class="de.hsw.examples.surflets.IndexSurflet"/>
    </servlets>
    <mappings>
        <mapping methods="GET, POST, DELETE" path="/" surfletId="indexJSP"/>
        <mapping methods="GET" path="/index" surfletId="indexJSP"/>
        <mapping methods="GET" path="/index.html" surfletId="indexJSP"/>
    </mappings>
</app-config>